/* {
	background-color: lightgray;
	width: 100%;

}*/

#animal-buttons-div {
	padding: 10px;
	background color: red;
	width: fill;
	min-height: 100px;
	width: 100%;
	float: left;
}

button {
	margin-left: 20px;
	margin-right: 5px;
	padding: 5px;

}

label {
	color: #4169E1;
}

.meow {
	margin: 5px;
	border-color: red;
	background-color: #FFD700;
	color: purple;
	border-width: 3px;
	font-size: 16px;
}

#moo-button {
	background-color: black;
}

#animal-form {
	padding: 10px;
}

#animal-input {
	border-width: 2px;
	border-color: red;
}

#p-text {
	text-decoration-style: bold;
}

#addAnimal {
	color: green;
	border-color: #008080;
	background-color: #FFFAFA;
	margin-top: 5px;
}

#zoo {
	float: left;
	display: inline-block;

}
